
.text-responsive {
  font-size: body(90% + 1vw + 1vh);
}

@media (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}

.container {
  max-width: 50%;
}

.lead {
  margin: auto;
  max-width: 80%;
}

.box-l .custom-control-label::before,
.box-l .custom-control-label::after {
  top: 0.2rem;
  width: 1.85rem;
  height: 1.85rem;
  border-color: black;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}


.box-l .custom-control-label {
  padding-top: 0.0rem;
  padding-left: 2rem;
  padding-bottom: 0.0rem;
  cursor: pointer;
  margin-left: 0.0rem;
}

.card:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.4s ease;
  margin: auto;
}

.card {
  box-shadow: 0 10px 8px 0 rgba(22, 22, 26, 0.18);
}
